/* .palette td {
    width: 5vw;
    height: 5vh;
  } */
.palette-eraser {
    background-image: url("images/eraser.png");
    background-size: 8vw 8vw;
}
canvas {
    width: 96%;
    height: 80%;
}
@media (min-width:961px)  {
    body {
        display: flex;
        width: 380px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .roomDraw {
    }
    .palette {
    }
    .palette-color {
        width: 30.32px;
        height: 30.32px;
    }
    .palette-eraser {
        background-image: url("images/eraser.png");
        background-size: 8vw 8vw;
        width: 30.32px;
        height: 30.32px;
    }
    #myCanvas {
        width: 379px;
        height: 407px;
    }
    #ranking {
        width: 379px;
        height: 407px;
    }
    #chat {
        max-height: 90px;
        overflow-y: scroll;
    }
}
/* .chat {
    height: calc(var(--vh, 1vh) * 12);
    overflow-y: scroll;
}

.roomDraw {
    font-size: 16px;
} */