.palette td {
    width: 5vw;
    height: 5vh;
  }
.palette-eraser {
    background-image: url("images/eraser.png");
    background-size: 8vw 8vw;
}
canvas {
    width: 96%;
    height: 80%;
}
/* .chat {
    height: calc(var(--vh, 1vh) * 12);
    overflow-y: scroll;
}

.roomDraw {
    font-size: 16px;
} */