body {
    background-color: rgb(29, 29, 124);
    color: white;
}
canvas {
    background-color: white;
}
table {
    /* background-color: white */
}
/* .button-word-choose {
    background-color: orangered;
    color: white;
} */
.palette-eraser {
    background-image: url("images/eraser.png");
    background-repeat: no-repeat;
    background-color: white;
}
#draw-container {
    display: flex;
    justify-content: center;
}
#chat {
    scrollbar-color: navy;
}